{% extends 'base.html' %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <!-- inner header wrapper start -->
    <div class="page_title_section float_left">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <h1>Services</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp; &gt; &nbsp;&nbsp;</li>
                                <li>Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner header wrapper end -->
    
    <!-- blog wrapper start -->
    <div class="blog_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        {% for service in teachers %}
                        <div class="col-md-6">
                            <div class="blog-post-wrapper iner_blog">
                                <div class="post-thumbnail">
                                    <img src="{{ service.image.url }}" class="img-responsive" alt="Image">
                                </div>
                                <div class="blog-content edu_service_header">
                                    <header class="entry-header">
                                        <h4 class="entry-title edu_service_heading">
                                            <a href="{% url 'main:service_detail' pk=service.pk %}">{{ service.title }}</a>
                                        </h4>
                                    </header>
                                    <div class="entry-content">
                                        <p>{{ service.description|truncatewords:20 }}</p>
                                    </div>
                                    <a href="{% url 'main:service_detail' pk=service.pk %}" class="blog_read">Read More</a>
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <!-- Sidebar -->

    <!-- edu letter wrapper End -->
{% endblock content %}
